{% extends 'base.html' %}

{% block app_content %}
<div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12"></div>
            <div class="col-lg-6 col-sm-12">
                <h1>Register</h1>
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32, class="form-control input-lg") }}<br>
                        {% for error in form.username.errors %}
                            <span style="color:red">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=64, class="form-control input-lg") }}<br>
                        {% for error in form.email.errors %}
                            <span style="color:red">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32, class="form-control input-lg") }}<br>
                        {% for error in form.password.errors %}
                            <span style="color:red">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password2.label }}<br>
                        {{ form.password2(size=32, class="form-control input-lg") }}<br>
                        {% for error in form.password2.errors %}
                            <span style="color:red">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(class="btn btn-primary btn-block btn-lg") }}</p>
                </form>
            </div>
            <div class="col-lg-3 col-sm-12"></div>
{% endblock %}